meta(charset='utf-8')
title PrettyChecks
- if (developing == "true")
    link(rel="stylesheet", href="../css/all.css")
    script(src='../js/vendors/jquery.js')
    script(src='../js/jquery.prettychecks.js')
    script(src='../js/commons.js')
- else
    link(rel="stylesheet", href="../css/all.min.css")
    script(src='../js/vendors/jquery.min.js')
    script(src='../js/jquery.prettychecks.min.js')
    script(src='../js/commons.min.js')