.prettychecks {
    width: 13px !important;
    height: 13px !important;
    border: 0 none !important;
    margin: 4px 4px 0 0px !important;
    padding: 0 !important;
    overflow: hidden !important;
    background: transparent url(../img/sprite-prettychecks.png) no-repeat 0 0 !important;
    cursor: pointer !important;
}

.prettychecks.checkbox {background-position: -13px 0!important;}
.prettychecks.checkbox.hover,
.prettychecks.checkbox:hover,
.prettychecks.checkbox:focus {background-position: -13px -13px !important;}
.prettychecks.checkbox.checked {background-position: 0 0 !important;}
.prettychecks.checkbox.checked.hover,
.prettychecks.checkbox.checked:hover,
.prettychecks.checkbox.checked:focus {background-position: 0 -13px !important;}
.prettychecks.checkbox.disabled {background-position: -13px -39px !important;}
.prettychecks.checkbox.disabled.hover,
.prettychecks.checkbox.disabled:hover,
.prettychecks.checkbox.disabled:focus {background-position: -13px -39px !important;}
.prettychecks.checkbox.checked.disabled {background-position: 0 -39px !important;}
.prettychecks.checkbox.checked.disabled.hover,
.prettychecks.checkbox.checked.disabled:hover,
.prettychecks.checkbox.checked.disabled:focus {background-position: 0 -39px !important;}
.prettychecks.checkbox.required {background-position: 0 0 !important;}
.prettychecks.checkbox.required.hover,
.prettychecks.checkbox.required:hover,
.prettychecks.checkbox.required:focus {background-position: 0 0 !important;}

.prettychecks.radio {background-position: -13px -52px !important;}
.prettychecks.radio.hover,
.prettychecks.radio:hover,
.prettychecks.radio:focus {background-position: -13px -65px !important;}
.prettychecks.radio.checked {background-position: 0 -52px !important;}
.prettychecks.radio.checked.hover,
.prettychecks.radio.checked:hover,
.prettychecks.radio.checked:focus {background-position: 0 -65px !important;}
.prettychecks.radio.disabled {background-position: 0 -78px !important;}
.prettychecks.radio.disabled.hover,
.prettychecks.radio.disabled:hover,
.prettychecks.radio.disabled:focus {background-position: 0 -78px !important;}
.prettychecks.radio.required {background-position: -13px -52px !important;}
.prettychecks.radio.required.hover,
.prettychecks.radio.required:hover,
.prettychecks.radio.required:focus {background-position: -13px -65px !important;}